.avatar-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 60px;
  z-index: 1;
  background: var(--primary-contrastText);
  border: 5px solid var(--success-main);
}
