.main-page {
  &__buttons-container {
    margin-top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__button-item {
    flex-basis: calc(33.333% - 20px);
    margin: 0 10px 50px;
  }
}
