.main-page {
  &__buttons-container {
    margin-top: 300px;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 50px;
  }

  &__button-item {
    // стили для каждой кнопки, если они нужны
  }
}
