.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--circle {
    position: absolute;
    background-color: aliceblue;
    border-radius: 50%;
    width: 100vw;
    height: 60vw;
    top: -90vh;
    z-index: 0;
  }

  &__title {
    margin-top: 28vh;
    z-index: 1;
  }

  &__role-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    .button-row {
      display: flex;
    }

    &__button {
      width: 100px;
      height: 100px;
      border-radius: 8px;
      margin: 16px !important;
    }
  }

  .registration-page,
  .login-page {
    // Общие стили для страниц регистрации и входа
  }
}
