body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: var(--text-primary);
}

.MuiInputBase-root:hover:not(.Mui-disabled):before {
  border-color: var(--primary-main) !important;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: var(--primary-main) !important;
}

.danger {
  background-color: var(--error-main) !important;
}
.danger-arrow {
  color: var(--error-main) !important;
}
.repeat {
  background-color: var(--warning-main) !important;
}
.repeat-arrow {
  color: var(--warning-main) !important;
}
.success {
  background-color: var(--success-main) !important;
}
.success-arrow {
  color: var(--success-main) !important;
}
.comment {
  background-color: var(--info-main) !important;
}
.comment-arrow {
  color: var(--info-main) !important;
}

.reschedule {
  background-color: var(--primary-dark) !important;
}

.reschedule-arrow {
  color: var(--primary-dark) !important;
}
