body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: var(--text-primary);
}

.MuiInputBase-root:hover:not(.Mui-disabled):before {
  border-color: var(--primary-main) !important;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: var(--primary-main) !important;
}

.MuiTooltip-tooltip {
  &.danger {
    background-color: var(--error-main);
  }
  &.repeat {
    background-color: var(--warning-main);
  }
  &.success {
    background-color: var(--success-main);
  }
  &.comment {
    background-color: var(--info-main);
  }
}